.default-padding{
    padding-top: .225rem !important;
    padding-bottom: 0;
}
.About-h3{
    text-align: left;
    font-family: Ubuntu-M;
    font-size:0.17rem;
    font-weight:500;
    color:rgba(195,46,71,1);
    line-height:0.24rem;
}
.video-list_ul--li{
    text-decoration: none;
    text-align: left;
    margin-bottom: 0.4rem;
}
.list_ul--li-img{
    height: 2rem;
    width: 100%;
    background-size: cover;
    position: relative;
}
.ul--li-main_h2{
    margin-top: 0.2rem !important;
    margin-bottom: 0 !important;
    font-size:.15rem !important;
    font-family:Ubuntu-M;
    font-weight:500 !important;
    color:rgba(54,59,62,1);
    line-height:.2rem !important;
}
.ul--li-main_p{
    margin-top: 0.1rem !important;
    font-size:.14rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:.2rem;
}
.play-btn_block .bigbtn{
    width: 0.3rem;
    height: 0.3rem;
}
.maskvideo{
    position: absolute;
    width:100%;
    height:100%;
    opacity:1;
}
.maskvideo .bigbtn{
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    opacity:1;
    border-radius:50px;
    transition:all linear 0.5s;
    transform: translate(-50%,-50%) 
}
.alSvgIcon {
    width: 1em; 
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}
.btn-pop{
    display: flex;
    position: absolute;
    bottom: 0.15rem;
    right: 0.15rem;
}
.btn-pop .iconbofanganniu{
  font-size: 0.2rem;
  color:rgba(255,255,255,1);
  line-height: 0.2rem;
}
.play-text{
    font-size:0.14rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:0.2rem;
    margin-left: 0.08rem;
}









