.VideoLessonsDetail-header{
    margin-bottom: 0.25rem;
    display: flex;
    font-size:0.17rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(195,46,71,1);
    overflow: hidden;
    height: 0.4rem;
    border-bottom: 1px #c32e47 solid;
}
.VideoLessonsDetail-header-Lives{
    margin-left: 0.5rem;
}
.default-padding{
    padding-top: 0.25rem !important;
    padding-bottom: 0 !important;
}
.VideoLessonsDetail-li_top{
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.block-overflow{
    width: 100%;
    height: 2rem;
}
ul .VideoLessonsDetail-li:nth-child(1){
    margin-top: 0rem !important;
}
.VideoLessonsDetail-li{
    text-align: left;
    margin-top: 0.4rem !important;
}
.VideoLessonsDetail-p{
    width:100%;
    font-size:0.14rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:0.2rem;
}
.VideoLessonsDetail-title{
    width:100%;
    font-size:0.15rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:#363B3E;
    line-height:0.2rem;
    margin-top: 0.15rem !important;
}
.about-area .info h2{
    margin-bottom: 0.2rem;
    margin-top: 0px;
    font-size:0.15rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(54,59,62,1);
    line-height:0.2rem;
}
.labels-list{
    display: flex;
    flex-wrap: wrap;
}
.VideoInformation{
    margin-top: 0.15rem;
    height:0.2rem;
    font-size:0.14rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:0.2rem;
}
.VideoLivesDetail-list{
    display: none;
}
.VideoLessonsDetail-li_More{
    display: flex;
    position: absolute;
    font-size:0.14rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:0.16rem;
    right: 0.15rem;
    bottom: 0.19rem;
}
.MoreDeatil-icon{
    font-size: 0.09rem !important;
    line-height:0.16rem;
    margin-left: 0.07rem;
    /* font-size: 0.12rem;
    line-height: 0.14rem;
    transform: scale(0.8,0.8);
    margin-left: 0.07rem;
    display: block; */
}
#page{
    margin-top: 0.4rem !important;
}
.about-area ul{
    margin-top: 0;
}
.Video_Dividing-lines{
    overflow: hidden;
    position: relative;
    height: 2px;
    margin-top: 19px;
}
.Video-thinlong1{
    position: absolute;
    display: block;
    width:100%;
    height:1px;
    border-bottom:1px solid #C32E47;
}
.Video-shortstrong1{
    margin:0 auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
    display: block;
    width:1px;
    height:0.15rem;
    opacity:1;
    z-index: 2;
    bottom: 0;
    background: #C32E47;
}
.Video-shortstrong2{
    background: #C32E47;
    margin:0 auto;
    display: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
    width:1px;
    bottom: 0;
    height:0;
    opacity:1;
    z-index: 2;
}
.VideoLessonsDetail-header-left{
    position: relative;
    font-family:Ubuntu-M;
    cursor: pointer;
    color:rgba(195,46,71,1);
    opacity:1;
    display: inline-block;
}
.VideoLessonsDetail-header-Lives{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family:Ubuntu-M;
    color:rgba(195,46,71,1);
    opacity:1;
}



.playstatus{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 8px;
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    font-family: Ubuntu-R;
    position: absolute;
    background:rgba(195,46,71,1);
    top: 0px;
    right: 0px;
}
.playstatus .icondingyuerenshu{
    font-size: 12px;
    margin-right: 4px;
}
.Waitstatus{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    opacity:1;
    padding: 0px 8px;
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    font-family: Ubuntu-R;
    position: absolute;
    top: 0px;
    right: 0px;
    background:rgba(137,137,137,0.7);
}
.playedstatus{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background:rgba(0,0,0,0.7);
    opacity:1;
    padding: 0px 8px;
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    font-family: Ubuntu-R;
    position: absolute;
    top: 0px;
    right: 0px;
}
.icon-status{
    margin-top: 11px;
    margin-right: 6px;
    display:block;
    width:4px;
    height:4px;
    background:rgba(255,255,255,1);
    border-radius:50%;
    opacity:1;
}
.livelines{
    margin: 0 5px;
}
.playstatus .iconren{
    color: #fff;
    font-size: 12px;
    -webkit-transform: scale(0.8,0.8);
            transform: scale(0.8,0.8);
    margin-right: 4px;
}
.playstatus .iconlive{
    margin-right: 4px;
    color: #fff;
    font-size: 12px;
    -webkit-transform: scale(0.8,0.8);
            transform: scale(0.8,0.8);
}
.line-scale-pulse-out-rapid {
    margin-right: 5px;
}
.line-scale-pulse-out-rapid > div{
    height: 12px;
    width: 2px;
    margin: 0px;
    margin-top: 7px;
}
.Label{
    margin-bottom: 0.1rem;
    margin-right: 0.1rem;
    padding: 0 0.08rem;
    background:rgba(245,246,247,1);
    border-radius:2px;
    font-size:0.11rem;
    color:#A9ABAD;
    line-height:0.2rem;
    font-family: Ubuntu-R;
}
.video-block{
    display: none;
    position: relative;
    margin-top: 0.85rem;
}
.waiting{
    background-image: url('../assets/images/img/neirong-block.png');
    background-size: cover;
    background-position: center;
    width: 230px;
    height: 125px;
    margin: 0 auto;
}
.waitingMsg{
    font-size:0.14rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(195,46,71,1);
    line-height:0.2rem;
    text-align: center;
    margin-top: 0.15rem;
}
.vip-login{
    font-size:0.12rem;
    font-family:Ubuntu-R;
    color:rgba(195,46,71,1);
    line-height:0.35rem;
    padding: 0 0.11rem;
    border-radius:0.03rem;
    border:1px solid rgba(195,46,71,1);
    background: #fff;
}
.code-ipt{
    font-size:0.12rem;
    font-family:Ubuntu-R;
    color:rgba(195,46,71,1);
    line-height:0.35rem;
    padding: 0 0.11rem;
    border-radius:0.03rem;
    border:1px solid rgba(195,46,71,1);
    background: #fff;
}
.accessCode{
    overflow: hidden;
    margin-bottom: 0.15rem;
    display: flex;
    justify-content: space-between;
}
.code-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 55;
    background:rgba(0,0,0,0.6);
}
.code-dia{
    display: none;
    z-index: 56;
    width:300px;
    height:219px;
    background:rgba(255,255,255,1);
    border-radius:6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.code-blank{
    width: 250px;
    height: 159px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.code-title{
    font-size:17px;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(195,46,71,1);
    line-height:19px;
}
.code-ipt1{
    width: 100%;
    height:50px;
    background:rgba(195,46,71,0.1);
    border-radius:6px;
    border:1px solid rgba(195,46,71,0.5);
    margin-top: 15px;
}
.codeToIpt{
    width: 100%;
    border: none;
    font-size:16px;
    font-family:Ubuntu-R;
    color:rgba(137,137,137,1);
    line-height:50px;
    text-indent: 15px;
    background: none;
}
.code-btns{
    margin-top: 35px;
    overflow: hidden;
    width: 100%;
    height: 40px;
}
.btn-Cancel{
    width: 105px;
    float: left;
    border: none;
    height:40px;
    background:rgba(137,137,137,1);
    border-radius:6px;
    font-size:14px;
    font-family:Ubuntu-R;
    color:rgba(255,255,255,1);
    line-height:40px;
}
.btn-Ok{
    width: 105px;
    float: right;
    border: none;
    height:40px;
    background:#C32E47;
    border-radius:6px;
    font-size:14px;
    font-family:Ubuntu-R;
    color:rgba(255,255,255,1);
    line-height:40px;
}
.tag-list{
    position: relative;
}
.tag-ul{
    display: none;
    position: absolute;
    left: 0;
    top: 0.2rem;
    background: #fff;
    z-index: 11;
    padding: 0.1rem 0;
    width:1.73rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 10px 20px 0px rgba(0,0,0,0.2);
}
.tag-title{
    display: flex;
    line-height: 0.16rem;
}
.tag-name{
    font-family: Ubuntu-M;
    color: #363B3E;
    font-size: 0.14rem;
}
.tag-span{
    font-family: Ubuntu-M;
    color: #C32E47;
    font-size: 0.14rem;
}
.Video-list{
    margin-top: 0.2rem;
}
.about-area .tag-ul li:nth-child(2){
    margin-top: 0px !important;
}
.tag-icon{
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/icons/xiala@2x.png');
    width: 0.12rem;
    height: 0.06rem;
    margin-top: 0.05rem;
    margin-left: 0.1rem;
}
.tags{
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   opacity: 1;
   font-family: Ubuntu-R;
   opacity: 1;
   padding-left: 0.12rem;
   padding-right: 0.12rem;
   cursor: pointer;
    font-size:0.14rem !important;
    color:rgba(54,59,62,1);
    line-height:0.25rem;
}


