.About-h3{
    border-bottom: 1px solid #979797;
    margin-bottom: 0px ;
    position: relative;
    line-height: 0.24rem;
}
.about-span{
    border-bottom: 1px solid #c32e47;
    font-family: Ubuntu-M;
    line-height: 0.44rem;
    font-size: 0.17rem;
    display: inline-block;
}
.default-padding{
    padding-top: 0.15rem !important;
}
.about-title{
    font-size:0.14rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:0.2rem;
    margin-top: 0.1rem;
}

.th1{
    background-color: #363B3E;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: 0px;
    position: relative;
    color: #fff;
    height:0.31rem;
    width: 0.75rem;
    text-align: center;
    padding: 0.1rem 0;
    font-size:0.08rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:0.1rem;
    border-radius: 0.06rem 0.06rem 0 0;
}
.service-form{
    margin-top: 0.25rem;
}
td{
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding: 0.1rem 0 !important;
    font-size:0.09rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:0.12rem;
}
.border-middle{
    /* border-left:1px solid #fff; */
    /* border-right:1px solid #fff */
}
tr{
    border-bottom: 1px #fff solid;
}
td .iconservice{
    font-size: 0.085rem;
    vertical-align: middle;
    color: #c32e47;
}
.service-text{
    font-size:0.1rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(137,137,137,1);
    line-height:0.13rem;
    text-align: left;
    margin-top: 0.15rem;
}









