.MenteeDetail-img{
    width: 1.6rem;
    height: 1.85rem;
    display: block;
    background-size: cover;
    background-position: center;
}
.MenteeDetail{
    display: flex;
    margin-bottom: 0.225rem;
}
.MenteeDetail-text{
    padding-top: 0.2rem;
    text-align: left;
}
.MenteeDetail-name{
    font-size:0.17rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(54,59,62,1);
    line-height:0.24rem;
}
.MenteeDetail-inform_p{
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 0.2rem;
    width: 1.5rem;
    font-size:0.11rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:0.15rem;
}
.imgIn{
    width:0.15rem;
    height:0.15rem;
    background-image: url('../assets/images/icons/1162.png');
    background-size: cover;
    opacity:1;
    display: block;
    margin-right: 0.065rem;
}
.MenteeDetail-text{
    margin-left: 0.13rem;
}
.MenteeDetail-text_top a{
    margin-top: 0px !important;
    display: block;
}
.imgUnder{
    width:0.5rem;
    height:0.15rem;
    opacity:1;
    display: block;
    background-image: url('../assets/images/icons/1163.png');
    background-size: cover;
}
.MenteeDetail-text_top{
    margin-top: 0.105rem;
    display: flex;
}
.VideoLessonsDetail-li_More{
    margin-top: 0.18rem;
    display: flex;
    font-family:Ubuntu-B;
    font-weight:500;
    font-size:0.12rem;
    color:rgba(54,59,62,1);
    line-height:0.14rem;
}
.MoreDeatil-icon{
    font-size: 0.12rem !important;
    line-height:0.14rem;
    margin-left: 0.07rem;
}

.Video-thinlong1{
    position: absolute;
    display: block;
    width:100%;
    height:1px;
    border-bottom:1px solid #C32E47;
}

.Video-shortstrong1{
    margin:0 auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
    display: block;
    width:1px;
    height:0.15rem;
    opacity:1;
    z-index: 2;
    background: #C32E47;
}
.Video-shortstrong2{
    background: #C32E47;
    margin:0 auto;
    display: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
    width:1px;
    height:0;
    opacity:1;
    z-index: 2;
}
.VideoLessonsDetail-header{
    margin-bottom: 0.25rem;
    display: flex;
    font-size:0.17rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(195,46,71,1);
    overflow: hidden;
    height: 0.4rem;
    border-bottom: 1px #c32e47 solid;
}
.VideoLessonsDetail-header-left{
    position: relative;
    font-family:Ubuntu-M;
    cursor: pointer;
    color:rgba(195,46,71,1);
    opacity:1;
    display: inline-block;
}
.VideoLessonsDetail-header-Lives{
    margin-left: 0.5rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family:Ubuntu-M;
    color:rgba(195,46,71,1);
    opacity:1;
}
.JoinUs-li_right{
    width: 100%;
    height: 2rem;
    background-size: cover;
    background-position: center;
}
.JoinUs-li_title{
    font-size:0.17rem;
    font-family:Ubuntu-R;
    font-weight:500;
    color:rgba(195,46,71,1);
    line-height:0.24rem;
    margin-top: 0.25rem;
}
.joinUs-secondli_frst{
    margin-top: 0.2rem;
    font-size:0.13rem;
    font-family:Ubuntu-R;
    font-weight:500;
    color:rgba(195,46,71,1);
    line-height:0.18rem;
}
.JoinUs-secondli{
    text-align: left;
    width: 100%;
    font-size:0.13rem !important;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:0.15rem;
    margin-top: 0px !important;
}
.about-area ul{
    margin-top: 0.1rem;
}
.JoinUs-main_li{
    margin-bottom: 0.4rem;
}
.JoinUs-main_ul li:last-child{
    margin-bottom: 0;
}
.VideoLivesDetail-list{
    display: none;
}
.secondli-p{
    line-height: 0.2rem !important;
}
