/*
 * @Author: 杨曦
 * @Date: 2019-09-27 08:21:50
 * @LastEditors  : 杨曦
 * @LastEditTime : 2020-01-20 15:32:59
 * @Version: 
 * @Description: 公共样式  包括 header footer contactUs 以及 字体
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;-moz-user-select:none;}

html{
    touch-action:none;
}
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; color: #222;cursor: auto !important; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none !important; color: #fff; background: none }
a:hover { text-decoration: none !important}
ul, ol { list-style: none; }
ul,li{ padding:0;margin:0;list-style:none}
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block;}
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}

a:active{
    text-decoration: none !important;
}

@font-face{
     font-family: 'Ubuntu-R'; 
     src: url('../fonts/Ubuntu-Regular.ttf');
     src:url('../fonts/Ubuntu-Regular.ttf') format('truetype'),
}
@font-face{
    font-family: 'Ubuntu-B'; 
    src: url('../fonts/Ubuntu-Bold.ttf');
    src:url('../fonts/Ubuntu-Bold.ttf') format('truetype'),
}
@font-face{
    font-family: 'Ubuntu-L'; 
    src: url('../fonts/Ubuntu-Light.ttf');
    src:url('../fonts/Ubuntu-Light.ttf') format('truetype'),
}
@font-face{
    font-family: 'Ubuntu-BI'; 
    src: url('../fonts/Ubuntu-BoldItalic.ttf');
    src:url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype'),
}
@font-face{
    font-family: 'Ubuntu-M'; 
    src: url('../fonts/Ubuntu-Medium.ttf');
    src:url('../fonts/Ubuntu-Medium.ttf') format('truetype'),
}
.content h2{
    font-family: Ubuntu-B ;
    font-style:italic ;
    font-size: 0.25rem !important;
    line-height: 0.31rem;
}
.shouzimu{
    font-family: Ubuntu-M;
    font-style:italic;
    font-size: 0.3rem !important;
}
.erweima1{
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    background-image: url('../images/img/wechat.png');
    background-size: cover;
    margin: 0 auto;
}
.erweima2{
    margin: 0 auto;
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    background-size: cover;
}
.banner-area {
    background-color: #fff;
}
.navbar .container{
    width: 100%;
}

.icontop_login{
    /* font-size: 0.15rem !important; */
}
.navbar{
    margin-bottom: 0px ;
    min-height:0.45rem;
}
nav.navbar.bootsnav ul.nav > li > a{
    text-transform:none;
}
nav.navbar.bootsnav{
    box-shadow: none !important;
}
.navbar-header{
    position: relative;
    min-height: 90px;
    box-sizing: border-box;
}
nav.navbar.bootsnav.navbar-fixed{
    z-index: 9999;
}
#banner-main{
    padding: 0 !important;
    margin: 0 !important;
}
#banner-main p{
    font-size:0.13rem;
    font-family:Ubuntu-R;
    color:rgba(255,255,255,1);
    line-height:0.15rem;
}
nav.navbar.bootsnav.navbar-fixed .navbar-brand{
    top: 0px !important;
    left: 15px;
    position: absolute;
}
.video-back{
    background-image: url('../images/img/videoBanner.gif');
    background-position: center;
    background-size: cover;
    height: 100vh !important;
}
nav.navbar.bootsnav.navbar-fixed .navbar-toggle{
    width: 16px;
    height: 27px;
    top: 0px !important;
    margin-top: 32px !important;
}
nav.navbar.bootsnav{
    background: none;
}
.navbar-toggle .fa{
    color: #fff;
}
.header-login{
    display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 90px;
    color: #fff;
    font-family: Ubuntu-M;
}
.header-top_nav__ul--login{
    margin-left: 0.03rem;
    height:0.15rem;
    /* font-size:0.14rem; */
    font-family:Ubuntu-R;
    /* line-height:0.16rem; */
}
.wrapper{
    position: relative;
}
#home{
    width: 100%;
    position: absolute;
    top: 0;
}
nav.navbar.bootsnav.navbar-fixed{
    position: relative;
}
.person-img .persondetail-img{
    /* background-image: url('../images/icons/headerHome.png'); */
    font-size: 25px;
}
.person-img a{
    display: block;
}
.my-DropDown{
    width:203px;
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    opacity:1;
    z-index: 20;
    display: none;
    position: absolute;
    top: 66px;
    right: -19px;
    font-size: 12px;
    line-height: 24px;
    background: #fff;
}
.my-DropDown_li{
}
.my-DropDown_li1{
    cursor: pointer;
}
.my-DropDown_li2{
    cursor: pointer;
}
.my-DropDown_li3{
    cursor: pointer;
}
.user-logout{
    cursor: pointer;
}
.user-name{
    font-size:16px;
    font-family:Ubuntu-B;
    ;
    line-height:22px;
    color:rgba(59,59,59,.96);
    opacity:1;
    margin-top: 18px;
    margin-left: 24px;
}

.my-DropDown_li a:hover{
    color:#C32E47;
    opacity:1;
}
.user-mylive .mylive-icon{
    font-size: 0.2rem;
    line-height: 0.7rem;
    margin-right: 0.24rem;
}
.user-myvideo .iconshipinsHome-copy{
    font-size: 0.2rem;
    line-height: 0.7rem;
    margin-right: 0.24rem;
}
.user-logout:hover{
    color:#C32E47;
    opacity:1;
}
.lines-span{
    display: block;
    width: 153px;
    height: 1px;
    background: rgba(72,89,102,0.10196078431372549);
    margin: 0 auto;
}
.user-id{
    width: 153px;
    font-size:14px;
    font-family:Ubuntu-R;
    ;
    line-height:20px;
    color:rgba(59,59,59,.96);
    opacity:0.5;
    margin: 4px 0px 0px 24px;
    padding-bottom: 11px;
    border-bottom:1px solid rgba(72,89,102,0.10196078431372549);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
nav.navbar.bootsnav .navbar-nav > li > a{
}

nav.navbar.bootsnav ul.nav > li > a{
    font-size:14px;
    font-family:Ubuntu-R;
    color:rgba(54,59,62,1);
    line-height:20px;
}
.Login-header{
    float: left;
}
.lines-span1{
    margin-top: 10px;
}
.user-myvideo{
    width: 100%;
    text-indent: 24px;
    display: block;
    margin-top: 9px;
    padding: 10px 0;
    margin-top: 19px;
    font-size:14px;
    font-family:Ubuntu-R;
    ;
    line-height:20px;
    color:rgba(59,59,59,0.96);
    opacity:1;
}
.user-mylive{
    width: 100%;
    text-indent: 24px;
    display: block;
    margin-top: 8px;
    padding: 10px 0 10px;
    font-size:14px;
    font-family:Ubuntu-R;
    ;
    line-height:20px;
    color:rgba(59,59,59,0.96);
    opacity:1;
}
.my-DropDown_li2{
   
}
.user-logout{
    margin-left: 25px;    
    font-size:14px;
    font-family:Ubuntu-R;
    ;
    line-height:58px;
    color:#3B3B3B;
    opacity:1;
}
.header-top_nav__ul--login{
    /* font-size: 12PX; */
    font-family:Ubuntu-R;
    /* line-height:30px; */
    /* color:rgba(255,255,255,1); */
}
.header-top_nav__ul--user{
    float: left\9;
    font-family: Ubuntu-R;
    font-size: 21px;
    color: #2B2B2B;
    letter-spacing: -0.1px;
    position: relative;
}
.person-img{
}
.header-top_nav__ul--lastli{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 46px;
    /* margin-top: 30px; */
}
.main_right-icons{
    padding-bottom: 40px;
}
.persondetail-img{
    background-size: 100%,100%;
    border-radius:50%;
    opacity:1;
}
#banner-main .yearsNum{
    font-size:0.2rem;
    opacity: 0.7;
    font-family:Ubuntu-R;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:0.42rem;
}
@media (min-width: 1024px){
    .navbar-brand{
        display: none !important; 
    }
}
.navbar-brand > img{
    height: 30px !important;
}

.navbar-brand{
    padding:  30px 0px;
}
.erweima2text{
    padding-bottom: 0.2rem;
}
nav.navbar.bootsnav ul.nav > li > a{
    border: none !important;
    font-weight: 500;
    letter-spacing:0;
    padding: 15px 0 !important; 
}
#navbar-menu{
    background: #fff !important;
    max-height: 75vh !important;
}
ul.nav{
    height: 75vh !important;
}
@media (max-width: 1023px){
    #navbar-brand{
        left: 30px;
    }
}