


.msg-login{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 30px;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    font-family: Ubuntu-R;
}
.login{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width:300px;
    height: 400px;
    -webkit-box-shadow:0px 10px 20px rgba(0,0,0,0.05);
            box-shadow:0px 10px 20px rgba(0,0,0,0.05);
    opacity:1;
    border-radius:3px;
    text-align: center;
    margin-top: 0px;
    display: none;
    z-index: 10000;
    border-radius: 0.06rem;
}
.support{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width:300px;
    height: 422px;
    -webkit-box-shadow:0px 10px 20px rgba(0,0,0,0.05);
            box-shadow:0px 10px 20px rgba(0,0,0,0.05);
    opacity:1;
    text-align: center;
    margin-top: 0px;
    display: none;
    z-index: 10000;
    border-radius: 0.06rem;
}
.support-lessons{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width:300px;
    height: 422px;
    -webkit-box-shadow:0px 10px 20px rgba(0,0,0,0.05);
            box-shadow:0px 10px 20px rgba(0,0,0,0.05);
    opacity:1;
    text-align: center;
    margin-top: 0px;
    display: none;
    z-index: 10000;
    border-radius: 0.06rem;
}
.login-title{
    margin-top: 35px;
    font-size:25px;
    font-family:Ubuntu-B;
    font-weight:600;
    color:rgba(195,46,71,1);
    line-height:35px;
}
.login-username{
    margin: 0 auto;
    margin-top: 33px;
}
.login-password{
    margin: 0 auto;
    margin-top: 12px;
    position: relative;
}
.userName,.passWord{
    font-family: Ubuntu-R;
    border: none;
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    height: 35px;
    color: rgb(54, 59, 62);
    opacity: 0.5;
}
.mask-Login{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    display: none;
}
.btn-login{
    width: 80%;
    border: none;
    height: 50px;
    font-size:16px;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:22px;
    background-color: #c32e47;
    border-radius: 0.06rem;
    margin-top: 40px;
}