.default-padding{
    padding-top: .225rem !important;
    padding-bottom: 0;
}
.About-h3{
text-align: left;
}
.video-list_ul--li{
    text-decoration: none;
    text-align: left;
    margin-top: 0.4rem;
}
.list_ul--li-img{
    height: 2rem;
    width: 100%;
    background-size: cover;
    position: relative;
}
.ul--li-main_h2{
    margin-top: 0.2rem !important;
    margin-bottom: 0 !important;
    font-size:.15rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(54,59,62,1);
    line-height:.2rem;
}
.ul--li-main_p{
    margin-top: 0.1rem !important;
    font-size:.14rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:.2rem;
}
.play-btn_block .bigbtn{
    width: 0.3rem;
    height: 0.3rem;
}
.maskvideo{
    position: absolute;
    width:100%;
    height:100%;
    opacity:1;
}
.maskvideo .bigbtn{
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    opacity:1;
    border-radius:50px;
    transition:all linear 0.5s;
    transform: translate(-50%,-50%) 
}
.alSvgIcon {
    width: 1em; 
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}
.successCardli{
    text-align: left !important;
    width: 100%;
    height: 1.9rem;
    border:1px solid rgba(0,0,0,0.1);
}
.successCardli{
    margin-bottom: 0.15rem !important;
    box-sizing: border-box;
    padding: 0.225rem;
}
.successCardDown-time{
    font-size:0.12rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(137,137,137,1);
    line-height:0.16rem;
}
.successCardTop{
    margin-top: 0.2rem;
}
.successCardTop-title{
    font-size:0.17rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(54,59,62,1);
    line-height:0.24rem;
}                                    
.successCardDown-text{
    font-size:0.13rem;
    font-family:Ubuntu-R;
    font-weight:400;
    color:rgba(54,59,62,1);
    line-height:0.2rem;
    margin-top: 0.18rem;
}
.successCardDown-knowMore{
    display: flex;
}
.successCardDown-knowMore{
    font-size:0.12rem;
    font-family:Ubuntu-M;
    font-weight:500;
    color:rgba(54,59,62,1);
    line-height:0.14rem;
    margin-top: 0.15rem;
}
.successCardDown-knowMore .successCardDown-knowMore_icon{
    line-height:0.14rem;
    font-size:0.12rem;
    margin-left: 0.1rem;

}
















